:root {
  --background-element-color: #B0B0B0;

  --background-color: rgb(255, 251, 255);
  --background-highlight-color: rgba(220,220,220);
}

body {
  background-color: var(--background-color);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: rgb(31, 31, 39);
}

nav {
  background-color: #4CAF50;
  color: white;
  margin: 0;
  padding: 0;
  border: 0;
  list-style-type: none;
  font-size: 110%;
  text-decoration: none;
}

a {
    color: inherit;
    text-decoration: inherit;
}

li {
    padding: 5px;
}

tr:hover {
  background-color: var(--background-highlight-color);
}

thead {
  background-color: var(--background-element-color);
}

#navbar-list {
    
  list-style-type: inherit;
  display: flex;
  padding: 0;
  margin: 0;
}

.navbar-list-el{
    padding: 15px;
}

.navbar-list-el:hover{
    background-color: rgba(90,90,90);
    transition: 0.5s;
}

#middle-view-container{
    margin: 4%;
}