<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'server_app/site.css' %}" />
</head>
<body>

  <nav>
    <ul id="navbar-list">
      <li class="navbar-list-el"><a href="/">Strona główna</a></li>
      <li class="navbar-list-el"><a href="meme">Mem</a></li>
      <li class="navbar-list-el"><a href="list_subj">Lista Przedmiotów</a></li>
    </ul>
  </nav>
    <div class="body-content">
        {% block content %}
        {% endblock %}
    </div>

    <div class="footer-content">
        <hr />
        <footer>
            <p>Copyright © 2021 PIK Dream Team</p>
        </footer>
    </div>

    <!-- Load development version ov VUE TODO change to production one at the end -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    {% block load-scripts %}
    {% endblock %}
</body>

</html>