{% extends "server_app/layout.html" %}
{% block title %}
Home Page PIK
{% endblock %}
{% block content %}
<h1>Hello there!</h1>
<p>{% load static %} <img src="{% static 'server_app/media/general_kenobi.jpg' %}" /></p>
{% endblock %}